@import url(bootstrap.change.css);

#page_container { min-height: 100%; }

header {
	background: #577f98 url(images/glass-light-blue.jpg) no-repeat top center;
}
header .logo {
	width: 396px;
	background: transparent url(images/sprite.png) no-repeat 0 -24px;
}

nav {
	margin: 53px 0 0 0;
}
nav ul li {
	margin: 0 25px 0 0;
}
nav ul li a {
	height: 26px;
}
#nav-home {
	width: 61px;
	background: transparent url(images/sprite.png) no-repeat 0 -90px;
}
#nav-home:hover { background-position: 0 -120px; }
#nav-nova1 {
	width: 81px;
	background: transparent url(images/sprite.png) no-repeat 0 -150px;
}
#nav-nova1:hover { background-position: 0 -180px; }
#nav-nova2 {
	width: 81px;
	background: transparent url(images/sprite.png) no-repeat 0 -210px;
}
#nav-nova2:hover { background-position: 0 -240px; }
#nav-sms {
	width: 54px;
	background: transparent url(images/sprite.png) no-repeat 0 -270px;
}
#nav-sms:hover { background-position: 0 -300px; }
#nav-nova3 {
	width: 81px;
	background: transparent url(images/sprite.png) no-repeat 0 -330px;
}
#nav-nova3:hover { background-position: 0 -360px; }
#nav-satellite {
	width: 114px;
	background: transparent url(images/sprite.png) no-repeat 0 -390px;
}
#nav-satellite:hover { background-position: 0 -420px; }

h1 {
	color: #577f98;
}

footer {
	background: #577f98;
}
.anodyne {
	background: transparent url(images/sprite.png) no-repeat 0 0;
}

.separator {
	background: transparent url(images/sprite.png) no-repeat 0 -493px;
}

a {
	color: #076cb0;
}
a:hover {
	color: #0d306f;
}

.options {
	margin: 1em 0;
	padding: .5em;
	display: block;
	color: #888 !important;
	text-decoration: none;
	border: 1px solid transparent !important;
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}
.options div {
	float: left;
	margin: 0 0 0 5px;
	height: 48px;
	width: 48px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0 0;
}
.options span {
	display: block;
	margin: 0 0 0 70px;
	padding: 3px 0 0 0;
	font-size: 1.9em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}
.options em {
	display: block;
	margin: 0 0 0 70px;
	padding: 9px 0 0 0;
	font-style: normal;
}
.options:hover {
	color: #466b8c !important;
	border: 1px solid #2ebbf3 !important;
	background: #c1dcf1 url(images/options-bg.png) repeat-x top left;
	text-decoration: none;
	-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6);
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6);
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6);
}
.options:hover div { background-position: 0 -48px; }
.options:hover span { text-shadow: 0 1px 0 rgba(255, 255, 255, .7); }

.options-started div { background-image: url(images/nova2/wand.png); }
.options-everything div { background-image: url(images/nova2/book.png); }
.options-developers div { background-image: url(images/nova2/developers.png); }
.options-api div { background-image: url(images/nova2/api.png); }
.options-modifying div { background-image: url(images/nova2/modifying.png); }
.options-skinning div { background-image: url(images/nova2/skinning.png); }
.options-code div { background-image: url(images/nova2/code.png); }

.options-noicons {
	margin: .5em 0;
	padding: .5em;
	width: 50%;
	display: block;
	color: #888 !important;
	text-decoration: none;
	border: 1px solid transparent !important;
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}
.options-noicons span {
	font-size: 1.4em;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
}
.options-noicons:hover {
	color: #466b8c !important;
	border: 1px solid #2ebbf3 !important;
	background: #c1dcf1 url(images/options-bg.png) repeat-x top left;
	text-decoration: none;
	-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6);
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6);
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6);
}

.smsupgrade-icon {
	width: 70px;
	text-align: center;
	vertical-align: middle;
}

.alt { background: #eaeaea; }

.important, .critical {
	padding: 5px;
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}
.critical {
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3) !important;
	background: #ed3131;
	background: -moz-linear-gradient(top, #ed3131 0%, #db2800 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed3131), color-stop(100%,#db2800));
	background: -webkit-linear-gradient(top, #ed3131 0%,#db2800 100%);
	background: -o-linear-gradient(top, #ed3131 0%,#db2800 100%);
	background: -ms-linear-gradient(top, #ed3131 0%,#db2800 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed3131', endColorstr='#db2800',GradientType=0 );
	background: linear-gradient(top, #ed3131 0%,#db2800 100%);
	color: #fff;
	border: 1px solid #9E0000;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px #d4c6b8;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px #d4c6b8;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px #d4c6b8;
}
.important {
	text-shadow: 0 1px 0 rgba(255, 255, 255, .3) !important;
	background: #ffe266;
	background: -moz-linear-gradient(top, #ffe266 0%, #e5b900 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe266), color-stop(100%,#e5b900));
	background: -webkit-linear-gradient(top, #ffe266 0%,#e5b900 100%);
	background: -o-linear-gradient(top, #ffe266 0%,#e5b900 100%);
	background: -ms-linear-gradient(top, #ffe266 0%,#e5b900 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe266', endColorstr='#e5b900',GradientType=0 );
	background: linear-gradient(top, #ffe266 0%,#e5b900 100%);
	color: #725a00;
	border-top: 1px solid #e0af00;
	border-bottom: 1px solid #9d7d00;
	border-left: 1px solid #b99100;
	border-right: 1px solid #b99100;
	box-shadow: inset 0 1px 0 #fffe77, 0 1px 1px #c8c7b7;
	-moz-box-shadow: inset 0 1px 0 #fffe77, 0 1px 1px #c8c7b7;
	-webkit-box-shadow: inset 0 1px 0 #fffe77, 0 1px 1px #c8c7b7;
}

/**
 * Nova 1 Styles
 */
ul.changelog li {
	height: 24px;
	line-height: 24px;
	padding: 0 0 0 24px;
	list-style: none !important;
}
li.script { background: transparent url('images/nova1/script-code.png') no-repeat center left; }
li.folder { background: transparent url('images/nova1/folder-open.png') no-repeat center left; }
li.image { background: transparent url('images/nova1/image-vertical-sunset.png') no-repeat center left; }
li.added { background: transparent url('images/nova1/plus-button.png') no-repeat center left; }
li.removed { background: transparent url('images/nova1/minus-button.png') no-repeat center left; }

.tour { min-height: 500px; }
.tour-left { width: 220px; float: left; }
.tour-right { margin-left: 260px; }
.tour-icon { float: left; margin: 3px 10px 0 0; }
.tour-list { font-size: 120%; }
.tour-list li { margin: 0 0 4px 0; }

.main-left { width: 47%; }
.main-right { float: right; width: 47%; }
.main-panel {
	margin: 0 0 20px 0;
	min-height: 235px;
	border: 1px solid #bbb;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.main-panel h4 {
	margin: 0 !important;
	padding: 3px 5px;
	background-color: #ccc;
	color: #444 !important;
	border-bottom: 1px solid #bbb !important;
}
.main-panel p { padding: .5em; }

.pages-panel { min-height: 175px !important; }

.btn-tour {
	padding: 7px 15px;
	background: #cee9fd;
	background: -moz-linear-gradient(top, #cee9fd 0%, #8ac0f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cee9fd), color-stop(100%,#8ac0f2));
	background: -webkit-linear-gradient(top, #cee9fd 0%,#8ac0f2 100%);
	background: -o-linear-gradient(top, #cee9fd 0%,#8ac0f2 100%);
	background: -ms-linear-gradient(top, #cee9fd 0%,#8ac0f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee9fd', endColorstr='#8ac0f2',GradientType=0 );
	background: linear-gradient(top, #cee9fd 0%,#8ac0f2 100%);
	border: 1px solid #7ea2c7;
	color: #386b9e !important;
	font-weight: bold;
	font-size: 110%;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(255, 255, 255, 1);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(255, 255, 255, 1);
}
.btn-tour:hover {
	background: #3488d8;
	background: -moz-linear-gradient(top, #3488d8 0%, #2469ad 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3488d8), color-stop(100%,#2469ad));
	background: -webkit-linear-gradient(top, #3488d8 0%,#2469ad 100%);
	background: -o-linear-gradient(top, #3488d8 0%,#2469ad 100%);
	background: -ms-linear-gradient(top, #3488d8 0%,#2469ad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3488d8', endColorstr='#2469ad',GradientType=0 );
	background: linear-gradient(top, #3488d8 0%,#2469ad 100%);
	border: 1px solid #1c5292;
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 rgba(255, 255, 255, 1);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 rgba(255, 255, 255, 1);
}

.float-right { float: right; }

/**
 * Styles for the buttons
 */
button {
	display: inline-block;
	margin: 12px 0 5px 0;
	outline: 0 !important;
	font-family: helvetica, arial, sans-serif;
	font-size: 100%;
	font-weight: bold;
	text-align: center;
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}
button.btn-main {
	padding: 6px 40px;
	border-top: 1px solid #4081af;
	border-right: 1px solid #2e69a3;
	border-bottom: 1px solid #20559a;
	border-left: 1px solid #2e69a3;
	color: #fff;
	text-shadow: 0 -1px 1px #3275bc;
	background: #3b88d8;
	background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a8e8', endColorstr='#377ad0',GradientType=0 );
	-webkit-background-clip: padding-box;
	box-shadow: inset 0 1px 0 #72b9eb, inset 0 0 2px #72b9eb, 0 1px 2px 0 #b3b3b3;
	-moz-box-shadow: inset 0 1px 0 #72b9eb, inset 0 0 2px #72b9eb, 0 1px 2px 0 #b3b3b3;
	-webkit-box-shadow: inset 0 1px 0 #72b9eb, inset 0 0 2px #72b9eb, 0 1px 2px 0 #b3b3b3;
}
button.btn-main:hover {
	background: #2a81d7;
	background: -moz-linear-gradient(0% 100% 90deg, #206bcb, #3e9ee5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
	border-top: 1px solid #2a73a6;
	border-right: 1px solid #165899;
	border-bottom: 1px solid #07428f;
	border-left: 1px solid #165899;
	text-shadow: 0 -1px 1px #1d62ab;
	cursor: pointer;
	box-shadow: inset 0 1px 0 0 #62b1e9;
	-moz-box-shadow: inset 0 1px 0 0 #62b1e9;
	-webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
}
button.btn-main:active {
	background: #3282d3;
	border: 1px solid #154c8c;
	border-bottom: 1px solid #0e408e;
	text-shadow: 0 -1px 1px #2361a4;
	box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
	-moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
	-webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
}

/**
 * Nova 2 Styles
 */
.n2-options, .n2-col-header, .n2-options-noicon {
	display: block;
	padding: .5em 0 0 0;
	background: #ddd;
	text-align: center;
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}
.n2-col-header {
	background: #eaeaea;
}
.n2-options-noicon {
	padding: 0;
}
.n2-options div {
	margin: 0 auto;
	height: 96px;
	width: 96px;
	background-color: transparent;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.n2-options h1, .n2-col-header h1, .n2-options-noicon h1 {
	font-size: 1.1em;
	color: #888 !important;
	font-weight: bold !important;
	text-shadow: none !important;
}
.n2-options:hover, .n2-options-noicon:hover {
	text-decoration: none;
	background: #999;
}
.n2-options:hover div {
	background-position: 0 -96px;
}
.n2-options:hover h1, .n2-options-noicon:hover h1 {
	color: #fff !important;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .25) !important;
}

.n2-options-started div {
	background-image: url(images/nova2/wand.png);
}
.n2-options-everything div {
	background-image: url(images/nova2/book.png);
}
.n2-options-developers div {
	background-image: url(images/nova2/developers.png);
}
.n2-options-modifying div {
	background-image: url(images/nova2/modifying.png);
}
.n2-options-skinning div {
	background-image: url(images/nova2/skinning.png);
}
.n2-options-core div, .n2-options-helpers div {
	background-image: url(images/nova2/code.png);
}
.n2-options-api div {
	background-image: url(images/nova2/api.png);
}
.n2-options-models div {
	background-image: url(images/nova2/stack.png);
}
.n2-options-libraries div {
	background-image: url(images/nova2/library.png);
}

.n2-sub-text {
	font-size: .9em;
	color: #888;
}