html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html, body { height: 100%; }
body {
	font: 85%/1.6 helvetica, arial, sans-serif;
	color: #444;
	background: #f5f5f5;
}

#container { min-height: 100%; }

.wrapper {
	margin: 0 auto;
	width: 950px;
}

header {
	position: relative;
	height: 130px;
	background: #577f98 url(images/glass-light-blue.jpg) no-repeat top center;
	box-shadow: inset 0 -3px 4px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 -3px 4px rgba(0, 0, 0, .2);
	-webkit-box-shadow: inset 0 -3px 4px rgba(0, 0, 0, .2);
}
header .logo {
	float: left;
	margin: 34px 0 0 0;
	height: 58px;
	width: 396px;
	background: transparent url(images/sprite.png) no-repeat 0 -24px;
}

nav {
	float: right;
	margin: 56px 0 0 0;
}
nav ul {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none;
}
nav ul li {
	float: left;
	margin: 0 20px 0 0 !important;
	padding: 0 !important;
}
nav ul li:last-child { margin: 0; }
nav ul li a {
	display: inline-block;
	height: 26px;
}
#nav-home {
	width: 60px;
	background: transparent url(images/sprite.png) no-repeat 0 -90px;
}
#nav-home:hover { background-position: 0 -122px; }
#nav-nova1 {
	width: 85px;
	background: transparent url(images/sprite.png) no-repeat 0 -150px;
}
#nav-nova1:hover { background-position: 0 -183px; }
#nav-nova2 {
	width: 85px;
	background: transparent url(images/sprite.png) no-repeat 0 -210px;
}
#nav-nova2:hover { background-position: 0 -242px; }
#nav-sms {
	width: 55px;
	background: transparent url(images/sprite.png) no-repeat 0 -270px;
}
#nav-sms:hover { background-position: 0 -303px; }

#content {
	position: relative;
	padding: 22px 0 80px 0;
	overflow: auto;
	border-top: 1px solid #fff;
}
#content h1 {
	margin: 0 0 15px 0;
	width: 75%;
	color: #577f98;
	font-size: 2em;
	text-shadow: 0 1px 0 #fff;
	border-bottom: 1px solid #d5d5d5;
}
#content h2 {
	margin: 10px 0;
	color: #666;
	font-size: 1.5em;
	border: none;
}
#content h3 {
	margin: 10px 0;
	color: #888;
	font-size: 1.2em;
	border: none;
}
#content h4 {
	margin: 10px 0;
	color: #aaa;
	font-size: 1.1em;
	border: none;
}
#content p {
	margin: 13px 0;
	text-shadow: 0 1px 0 #fff;
}

/**
 * Styles for the footer
 */
footer {
	position: relative;
	margin-top: -50px;
	height: 50px;
	clear: both;
	background: #577f98;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", helvetica, arial, sans-serif;
}
.footer-anodyne { width: 275px; }
.footer-copyright {
	width: 675px;
	vertical-align: middle;
	text-align: right;
	color: #fff;
	font-size: 90%;
}
.anodyne {
	display: block;
	margin: 16px 0 0 0;
	height: 19px;
	width: 275px;
	background: transparent url(images/sprite.png) no-repeat 0 0;
}

/**
 * Miscellaneous styles for everything else
 */
.separator {
	margin: 32px auto 0 auto;
	height: 7px;
	width: 58px;
	background: transparent url(images/sprite.png) no-repeat 0 -493px;
}

a { color: #076cb0; }
a:hover { color: #0d306f; }

a#tipsy, a#tipsy:hover {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px dotted;
	cursor: help;
}

p { text-shadow: 0 1px 0 rgba(255, 255, 255, .75); }

em { font-style: italic; }

.options {
	margin: 1em 0;
	display: block;
	color: #888 !important;
	text-decoration: none;
	border: 1px solid transparent !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.options div {
	float: left;
	margin: 7px 0 0 5px;
	height: 48px;
	width: 48px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0 0;
}
.options span {
	padding: 0 0 0 15px;
	font-size: 1.9em;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
}
.options em {
	margin: 0 0 0 70px;
	padding: 0 0 7px 0;
	display: block;
	font-size: .95em;
	font-style: normal;
}
.options:hover {
	color: #466b8c !important;
	border: 1px solid #2ebbf3 !important;
	background: #c1dcf1 url(images/options-bg.png) repeat-x top left;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6);
	-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6);
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6);
}
.options:hover div { background-position: 0 -48px; }

.options-started div { background-image: url(images/nova2/wand.png); }
.options-everything div { background-image: url(images/nova2/book.png); }
.options-developers div { background-image: url(images/nova2/developers.png); }
.options-api div { background-image: url(images/nova2/api.png); }
.options-modifying div { background-image: url(images/nova2/modifying.png); }
.options-skinning div { background-image: url(images/nova2/skinning.png); }
.options-code div { background-image: url(images/nova2/code.png); }

.options-noicons {
	margin: 1em 0;
	padding: .5em;
	display: block;
	color: #888 !important;
	text-decoration: none;
	border: 1px solid transparent !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.options-noicons span {
	padding: 0 0 0 20px;
	background: transparent url(images/arrow-000-medium.png) no-repeat center left;
	font-size: 1.9em;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
}
.options-noicons em {
	margin: 0 0 0 21px;
	display: block;
	font-size: .95em;
	font-style: normal;
}
.options-noicons:hover {
	color: #466b8c !important;
	border: 1px solid #2ebbf3 !important;
	background: #c1dcf1 url(images/options-bg.png) repeat-x top left;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6);
	-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6);
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6);
}

pre {
	margin: 0 0 10px 0;
	padding: .5em;
	font-family: consolas, courier, monospace;
	font-size: 90%;
	background: #f0f0f0;
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

samp, dfn, var, kbd {
	font-weight: bold;
	color: purple;
}
dfn { color: #00620C; }
var { color: #8F5B00; }
kbd { color: #A70000; }

strong, .bold { font-weight: bold; }

ul, ol {
	margin: 10px;
	padding: 10px;
	list-style: square;
}
ol { list-style: decimal; }
ul li, ol li { margin: 3px 10px; }
ul ul { margin: 0 10px; }
ul.none, ol.none { list-style: none; }

#container td { vertical-align: middle; }

.smsupgrade-icon {
	width: 70px;
	text-align: center;
	vertical-align: middle;
}

.alt { background: #eaeaea; }

.hidden { display: none; }

.important, .critical {
	padding: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.critical {
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3) !important;
	background: #ed3131;
	background: -moz-linear-gradient(top, #ed3131 0%, #db2800 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed3131), color-stop(100%,#db2800));
	background: -webkit-linear-gradient(top, #ed3131 0%,#db2800 100%);
	background: -o-linear-gradient(top, #ed3131 0%,#db2800 100%);
	background: -ms-linear-gradient(top, #ed3131 0%,#db2800 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed3131', endColorstr='#db2800',GradientType=0 );
	background: linear-gradient(top, #ed3131 0%,#db2800 100%);
	color: #fff;
	border: 1px solid #9E0000;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px #d4c6b8;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px #d4c6b8;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px #d4c6b8;
}
.important {
	text-shadow: 0 1px 0 rgba(255, 255, 255, .3) !important;
	background: #ffe266;
	background: -moz-linear-gradient(top, #ffe266 0%, #e5b900 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe266), color-stop(100%,#e5b900));
	background: -webkit-linear-gradient(top, #ffe266 0%,#e5b900 100%);
	background: -o-linear-gradient(top, #ffe266 0%,#e5b900 100%);
	background: -ms-linear-gradient(top, #ffe266 0%,#e5b900 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe266', endColorstr='#e5b900',GradientType=0 );
	background: linear-gradient(top, #ffe266 0%,#e5b900 100%);
	color: #725a00;
	border-top: 1px solid #e0af00;
	border-bottom: 1px solid #9d7d00;
	border-left: 1px solid #b99100;
	border-right: 1px solid #b99100;
	box-shadow: inset 0 1px 0 #fffe77, 0 1px 1px #c8c7b7;
	-moz-box-shadow: inset 0 1px 0 #fffe77, 0 1px 1px #c8c7b7;
	-webkit-box-shadow: inset 0 1px 0 #fffe77, 0 1px 1px #c8c7b7;
}

/**
 * Styles for the global breadcrumbs
 */
.breadcrumbs {
	display: inline-block;
	margin: 0 0 10px 0;
	padding: 5px 8px 5px 5px;
	background: #e9e9e9;
	border: 1px solid #c9c9c9;
	border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08), 0 1px 0 rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08), 0 1px 0 rgba(255, 255, 255, 1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08), 0 1px 0 rgba(255, 255, 255, 1);
}
.breadcrumbs ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.breadcrumbs ul li {
	float: left;
	margin: 0;
	padding-left: 16px;
	padding-right: 5px;
	background-image: url(images/bc-bullet.png);
	background-repeat: no-repeat;
	background-position: 0 4px; 
}
.breadcrumbs ul li a {
	text-decoration: none;
	color: #999;
	font-size: .9em;
}
.breadcrumbs ul li a:hover { color: #076cb0; }

/**
 * Styles for tables (from Bootstrap from Twitter)
 */
#container table {
	width: 100%;
	margin-bottom: 18px;
	padding: 0;
	border-collapse: separate;
	font-size: 13px;
}
#container table th, #container table td {
	padding: 10px 10px 9px;
	line-height: 13.5px;
	text-align: left;
	vertical-align: middle;
	border-bottom: 1px solid #ddd;
}
#container table th {
	padding-top: 9px;
	font-weight: bold;
	border-bottom-width: 2px;
}
#container .zebra-striped tbody tr:nth-child(odd) td {
	background-color: #f9f9f9;
}
#container .zebra-striped tbody tr:hover td {
	background-color: #f5f5f5;
}
#container .zebra-striped .header {
	cursor: pointer;
}
#container .zebra-striped .header:after {
	content: "";
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #000 transparent;
	visibility: hidden;
}
#container .zebra-striped .headerSortUp, #container .zebra-striped .headerSortDown {
	background-color: rgba(141, 192, 219, 0.25);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
#container .zebra-striped .header:hover:after {
	visibility: visible;
}

#container table {
	font-size: 14px;
}
#container table th {
	font-size: 1.2em;
}
#container table th, #container table td {
	line-height: 20px;
}
#container table .blue {
	color: #076cb0;
	border-bottom-color: #076cb0;
}

/**
 * Nova 1 Styles
 */
ul.changelog li {
	height: 24px;
	line-height: 24px;
	padding: 0 0 0 24px;
	list-style: none !important;
}
li.script { background: transparent url('images/nova1/script-code.png') no-repeat center left; }
li.folder { background: transparent url('images/nova1/folder-open.png') no-repeat center left; }
li.image { background: transparent url('images/nova1/image-vertical-sunset.png') no-repeat center left; }
li.added { background: transparent url('images/nova1/plus-button.png') no-repeat center left; }
li.removed { background: transparent url('images/nova1/minus-button.png') no-repeat center left; }

.tour { min-height: 500px; }
.tour-left { width: 220px; float: left; }
.tour-right { margin-left: 260px; }
.tour-icon { float: left; margin: 3px 10px 0 0; }
.tour-list { font-size: 120%; }
.tour-list li { margin: 0 0 4px 0; }

.main-left { width: 47%; }
.main-right { float: right; width: 47%; }
.main-panel {
	margin: 0 0 20px 0;
	min-height: 235px;
	border: 1px solid #bbb;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.main-panel h4 {
	margin: 0 !important;
	padding: 3px 5px;
	background-color: #ccc;
	color: #444 !important;
	border-bottom: 1px solid #bbb !important;
}
.main-panel p { padding: .5em; }

.pages-panel { min-height: 175px !important; }

.btn-tour {
	padding: 7px 15px;
	background: #cee9fd;
	background: -moz-linear-gradient(top, #cee9fd 0%, #8ac0f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cee9fd), color-stop(100%,#8ac0f2));
	background: -webkit-linear-gradient(top, #cee9fd 0%,#8ac0f2 100%);
	background: -o-linear-gradient(top, #cee9fd 0%,#8ac0f2 100%);
	background: -ms-linear-gradient(top, #cee9fd 0%,#8ac0f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee9fd', endColorstr='#8ac0f2',GradientType=0 );
	background: linear-gradient(top, #cee9fd 0%,#8ac0f2 100%);
	border: 1px solid #7ea2c7;
	color: #386b9e !important;
	font-weight: bold;
	font-size: 110%;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(255, 255, 255, 1);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(255, 255, 255, 1);
}
.btn-tour:hover {
	background: #3488d8;
	background: -moz-linear-gradient(top, #3488d8 0%, #2469ad 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3488d8), color-stop(100%,#2469ad));
	background: -webkit-linear-gradient(top, #3488d8 0%,#2469ad 100%);
	background: -o-linear-gradient(top, #3488d8 0%,#2469ad 100%);
	background: -ms-linear-gradient(top, #3488d8 0%,#2469ad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3488d8', endColorstr='#2469ad',GradientType=0 );
	background: linear-gradient(top, #3488d8 0%,#2469ad 100%);
	border: 1px solid #1c5292;
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 rgba(255, 255, 255, 1);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 rgba(255, 255, 255, 1);
}

.float-right { float: right; }

/**
 * Styles for the buttons
 */
button {
	display: inline-block;
	margin: 12px 0 5px 0;
	outline: 0 !important;
	font-family: helvetica, arial, sans-serif;
	font-size: 100%;
	font-weight: bold;
	text-align: center;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
button.btn-main {
	padding: 6px 40px;
	border-top: 1px solid #4081af;
	border-right: 1px solid #2e69a3;
	border-bottom: 1px solid #20559a;
	border-left: 1px solid #2e69a3;
	color: #fff;
	text-shadow: 0 -1px 1px #3275bc;
	background: #3b88d8;
	background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a8e8', endColorstr='#377ad0',GradientType=0 );
	-webkit-background-clip: padding-box;
	box-shadow: inset 0 1px 0 #72b9eb, inset 0 0 2px #72b9eb, 0 1px 2px 0 #b3b3b3;
	-moz-box-shadow: inset 0 1px 0 #72b9eb, inset 0 0 2px #72b9eb, 0 1px 2px 0 #b3b3b3;
	-webkit-box-shadow: inset 0 1px 0 #72b9eb, inset 0 0 2px #72b9eb, 0 1px 2px 0 #b3b3b3;
}
button.btn-main:hover {
	background: #2a81d7;
	background: -moz-linear-gradient(0% 100% 90deg, #206bcb, #3e9ee5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
	border-top: 1px solid #2a73a6;
	border-right: 1px solid #165899;
	border-bottom: 1px solid #07428f;
	border-left: 1px solid #165899;
	text-shadow: 0 -1px 1px #1d62ab;
	cursor: pointer;
	box-shadow: inset 0 1px 0 0 #62b1e9;
	-moz-box-shadow: inset 0 1px 0 0 #62b1e9;
	-webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
}
button.btn-main:active {
	background: #3282d3;
	border: 1px solid #154c8c;
	border-bottom: 1px solid #0e408e;
	text-shadow: 0 -1px 1px #2361a4;
	box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
	-moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
	-webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
}