@import "variables.less";
@import "mixins.less";

@font-face {
	font-family: 'icomoon';
	src: url('fonts/IcoMoon/icomoon-ultimate.eot');
	src: url('fonts/IcoMoon/icomoon-ultimate.eot?#iefix') format('embedded-opentype'),
		url('fonts/IcoMoon/icomoon-ultimate.svg#icomoon') format('svg'),
		url('fonts/IcoMoon/icomoon-ultimate.woff') format('woff'),
		url('fonts/IcoMoon/icomoon-ultimate.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AltGothicNo3';
	src: url('fonts/AltGothicNo3/AlternateGothicNo3-webfont.eot');
	src: url('fonts/AltGothicNo3/AlternateGothicNo3-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/AltGothicNo3/AlternateGothicNo3-webfont.woff') format('woff'),
		url('fonts/AltGothicNo3/AlternateGothicNo3-webfont.ttf') format('truetype'),
		url('fonts/AltGothicNo3/AlternateGothicNo3-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

#page_container { min-height: 100%; }

header {
	background-color: @color-base;
	background-image: url(images/glass-light-blue.jpg);
	
	h1 {
		font-family: @font-headings;
	}
}

nav {
	margin: 39px 0 0 0;
	
	ul {
		li {
			margin: 0 25px 0 0;
			
			a {
				color: #000;
				text-shadow: 0 0 0 transparent;
				opacity: 0.4;
				font-family: "AltGothicNo3";
				font-weight: normal;
				text-transform: uppercase;
				font-size: 32px;
				
				&:hover {
					color: @color-white;
					opacity: 0.8;
					text-shadow: 0 2px 2px rgba(0, 0, 0, .35);
					border: none;
					text-decoration: none;
				}
			}
			
			.tooltip {
				text-shadow: 0 0 0 transparent;
				opacity: 1;
			}
		}
	}
}

h1 {
	color: @color-base;
}

footer {
	background: @color-base;
	
	.footer-anodyne {
		vertical-align: middle;
		padding-top: 3px;
		
		font-family: "AltGothicNo3", helvetica, arial, sans-serif;
		
		a {
			display: block;
			
			font-size: 28px;
			text-transform: uppercase;
			color: @color-white;
			opacity: 0.4;
			text-shadow: 0 2px 2px rgba(0, 0, 0, .35);
			
			.by {
				text-transform: lowercase;
				font-variant: small-caps;
			}
		
			&:hover {
				text-decoration: none;
				color: @color-white;
				opacity: 0.8;
			}
		}
	}
}

.separator {
	background: transparent url(images/sprite.png) no-repeat 0 -493px;
}

a {
	color: @color-link;
}
a:hover {
	color: desaturate(@color-link, 50%);
}

.smsupgrade-icon {
	text-align: center !important;
	vertical-align: middle;
}

.important, .critical {
	padding: 5px;
	
	.rounded;
}
.critical {
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3) !important;
	color: #fff;
	border: 1px solid #9E0000;
	
	.gradient(#ed3131, #db2800);
	.box-shadow(~"inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px #d4c6b8");
}
.important {
	text-shadow: 0 1px 0 rgba(255, 255, 255, .3) !important;
	color: #725a00;
	border-top: 1px solid #e0af00;
	border-bottom: 1px solid #9d7d00;
	border-left: 1px solid #b99100;
	border-right: 1px solid #b99100;
	
	.gradient(#ffe266, #e5b900);
	.box-shadow(~"inset 0 1px 0 #fffe77, 0 1px 1px #c8c7b7");
}

ul.changelog li {
	height: 24px;
	line-height: 24px;
	padding: 0 0 0 24px;
	list-style: none !important;
}
li.script {
	background: transparent url('images/nova1/script-code.png') no-repeat center left;
}
li.folder {
	background: transparent url('images/nova1/folder-open.png') no-repeat center left;
}
li.image {
	background: transparent url('images/nova1/image-vertical-sunset.png') no-repeat center left;
}
li.added {
	background: transparent url('images/nova1/plus-button.png') no-repeat center left;
}
li.removed {
	background: transparent url('images/nova1/minus-button.png') no-repeat center left;
}

.tour-list {
	font-size: 120%;
}
.tour-list li {
	margin: 0 0 4px 0;
}

.pages-panel { min-height: 175px !important; }

.table {
	font-size: 14px;
}
.table .blue {
	color: #076cb0;
	border-bottom-color: #076cb0;
}
.table td {
	line-height: 1.6;
}

.label-error {
  background-color: #c43c35;
}

.nav-tabs {
	border-color: #ccc;
}
.nav-tabs > li > a {
	font-size: 14px;
	outline: 0;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
	border-color: #ccc #ccc #f5f5f5;
	
	.gradient(#ffffff, #f5f5f5);
}

.nav-pills > li > a {
	outline: 0;
	text-shadow: 0 0 0 transparent;
}
.nav-pills .active > a, .nav-pills .active > a:hover {
	background: @color-base;
}

.icn-container {
	display: block;
	margin: 3em 0 1em 0;
	text-align: center;
}

.icn {
	font-family: 'icomoon';
	speak: none;
}
.icn-24 {
	font-size: 24px;
}
.icn-32 {
	font-size: 32px;
}
.icn-96 {
	font-size: 96px;
}

[data-icon]:before {
	content: attr(data-icon);
}

.icn-purple {
	color: #af12b5;
}
.icn-blue {
	color: #1363ee;
}
.icn-yellow {
	color: #edc10f;
}
.icn-green {
	color: #18bb15;
}
.icn-red {
	color: #de1414;
}
.icn-orange {
	color: #f54f07;
}

.btn {
	margin-bottom: 0;
}