body {
	background: #eaeaea;
	color: #444;
	font: 80%/1.6 "lucida grande", verdana, arial, sans-serif;
	text-align: center;
}

.wrapper {
	min-width: 950px;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 45px;
}

#body {
	padding: 1em;
	
	background: #f3f3f3;
	border: 1px solid #ddd;
	text-align: left;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.options {
	margin: 1em 0;
	padding: .5em;
	display: block;
	
	color: #888 !important;
	text-decoration: none;
	border: 1px solid transparent !important;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.options span {
	padding: 0 0 0 22px;
	
	background: transparent url('../images/arrow-000-medium.png') no-repeat center left;
	font-size: 1.9em;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
}
.options em {
	margin: 0 0 0 24px;
	display: block;
	
	font-size: .95em;
	font-style: normal;
}
.options:hover {
	color: #466b8c !important;
	border: 1px solid #2ebbf3 !important;
	background: #c1dcf1 url('../images/options-bg.png') repeat-x top left;
}

strong { font-weight: bold; }